@font-face {
  font-family: "Corporative";
  src: url("/fonts/CorporativeSlab-Regular/CorporativeSlab-Regular.eot");
  src: url("/fonts/CorporativeSlab-Regular/CorporativeSlab-Regular.woff")
      format("woff"),
    url("/fonts/CorporativeSlab-Regular/CorporativeSlab-Regular.woff2")
      format("woff2");
  // font-weight: normal;
}

@font-face {
  font-family: "Corporative";
  src: url("/fonts/CorporativeSlab-Bold/CorporativeSlab-Bold.eot");
  src: url("/fonts/CorporativeSlab-Bold/CorporativeSlab-Bold.woff")
      format("woff"),
    url("/fonts/CorporativeSlab-Bold/CorporativeSlab-Bold.woff2")
      format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Corporative";
  src: url("/fonts/CorporativeSlab-RegularIt/CorporativeSlab-RegularIt.eot");
  src: url("/fonts/CorporativeSlab-RegularIt/CorporativeSlab-RegularIt.woff")
      format("woff"),
    url("/fonts/CorporativeSlab-RegularIt/CorporativeSlab-RegularIt.woff2")
      format("woff2");
}
