{{ function('get_header', '') }}

<ol class="nav navbar-nav breadcrumbs" itemscope itemtype=http://schema.org/BreadcrumbList>
        <li itemprop=itemListElement itemscope itemtype=http://schema.org/ListItem><a href=/ itemprop=item><span itemprop=name>Agencja Wrocławska</span>
                <meta itemprop=position content="1">
            </a>></li>
        <li class=active itemprop=itemListElement itemscope itemtype=http://schema.org/ListItem><span itemprop=name>Case study</span>
            <meta itemprop=position content="2">
        </li>
    </ol>
    <main id=content>
        <section class='sc-banner-wide banner-wo-form'><img class='lazyload banner-img' data-sizes=100vw data-srcset='
        /uploads/im-main-full_hu2b9e819dbeb4f56f76bfae9c120f753d_1516205_500x0_resize_q75_box.jpg 500w
      
      
        , /uploads/im-main-full_hu2b9e819dbeb4f56f76bfae9c120f753d_1516205_800x0_resize_q75_box.jpg 800w
      
      
        , /uploads/im-main-full_hu2b9e819dbeb4f56f76bfae9c120f753d_1516205_1200x0_resize_q75_box.jpg 1200w
      
      
        , /uploads/im-main-full_hu2b9e819dbeb4f56f76bfae9c120f753d_1516205_1500x0_resize_q75_box.jpg 1500w 
      
      
      
      ' alt>
            <div class='banner-wide-content sec-padding'>
                <div class=banner-left-col>
                    <h1 class='header-template banner-header'><span class='f-w700 txt-white txt-XXL'>Case study Agencja Wrocławska</span></h1>
                    <div class=trust-us-wrapper><span>Zaufali nam:</span>
                        <section>
                            <ul>
                                <li style=list-style-type:none;max-height:100px;display:flex;align-items:center;overflow:hidden><img src=/uploads/tuwroclaw-logo-aw.jpg class=gray-images-logo></li>
                                <li style=list-style-type:none;max-height:100px;display:flex;align-items:center;overflow:hidden><img src=/uploads/medicus-logo-aw.jpg class=gray-images-logo></li>
                                <li style=list-style-type:none;max-height:100px;display:flex;align-items:center;overflow:hidden><img src=/uploads/mbp-wroclaw-logo-aw.jpg class=gray-images-logo></li>
                                <li style=list-style-type:none;max-height:100px;display:flex;align-items:center;overflow:hidden><img src=/uploads/inkom-logo-aw.jpg class=gray-images-logo></li>
                                <li style=list-style-type:none;max-height:100px;display:flex;align-items:center;overflow:hidden><img src=/uploads/witaminaiziolo-logo.jpg class=gray-images-logo></li>
                                <li style=list-style-type:none;max-height:100px;display:flex;align-items:center;overflow:hidden><img src=/uploads/4ti-logo-aw.jpg style=height:100% class=gray-images-logo></li>
                                <li style=list-style-type:none;max-height:100px;display:flex;align-items:center;overflow:hidden><img src=/uploads/comfortplus-logo-aw.jpg class=gray-images-logo></li>
                                <li style=list-style-type:none;max-height:100px;display:flex;align-items:center;overflow:hidden><img src=/uploads/multivoucher-logo.jpg class=gray-images-logo></li>
                                <li style=list-style-type:none;max-height:100px;display:flex;align-items:center;overflow:hidden><img src=/uploads/venitti-logo.jpg class=gray-images-logo></li>
                                <li style=list-style-type:none;max-height:100px;display:flex;align-items:center;overflow:hidden><img src=/uploads/costa-logo.jpg style=height:100% class=gray-images-logo></li>
                                <li style=list-style-type:none;max-height:100px;display:flex;align-items:center;overflow:hidden><img src=/uploads/wsm24-logo.jpg class=gray-images-logo></li>
                                <li style=list-style-type:none;max-height:100px;display:flex;align-items:center;overflow:hidden><img src=/uploads/amazigo-logo.jpg class=gray-images-logo></li>
                            </ul>
                        </section>
                    </div>
                    <div class=banner-text>Prezentujemy wybrane projekty z naszego portfolio, abyśmy mogli opowiedzieć o wszystkich naszych sukcesach podczas naszej historii prac SEO. Poniższe case study są przeznaczone dla klientów korzystających lub chcących skorzystać z usług SEO naszej Agencji na własnych stronach internetowych. Strategie pozycjonowania są implementowane przez doświadczonych specjalistów i entuzjastów branży SEO, co prowadzi do sukcesu oraz zwiększenia konwersji we wszystkich obszarach współpracy podczas pozycjonowania strony internetowej.</div>
                </div>
            </div><img class=banner-logo src=/img/AW.svg>
        </section>
        <section class='sec-padding sc-text-points-img a94973fd15c206fa2eba88b7b9f91b9ab'>
            <div class='two-col-row cnt-visibility'>
                <h2 class=header-template><span class='f-w900 txt-underline txt-break txt-red txt-L'>POZYCJONOWANIE</span>
                    <span class='header-template f-w700 txt-black txt-XL ornament-r-r'>Medicus Sp. z o.o.</span>
                </h2>
                <div class=second-col>
                    <div class=obrazek-outer-wrapper>
                        <div class=obrazek-wrapper><img class=lazyload data-src=/uploads/medicus-1-img-casestudy.jpg></div>
                    </div>
                </div>
                <div class=first-col>
                    <div class='txt-L slogan'>Co zrobiliśmy?</div>
                    <ul class=red-point-list>
                        <li>Migracja kilku stron spółki w jedną</li>
                        <li>Pełny Audyt SEO</li>
                        <li>Pełna optymalizacja wraz z przekierowaniami ruchu z poprzednich stron</li>
                        <li>Poprawa nagłówków oraz treści na stronie</li>
                        <li>Napisanie treści oraz wykupienie miejsc na wysoko rankingowanych portalach branżowych</li>
                    </ul>
                </div>
                <div class=second-col>
                    <div class=obrazek-outer-wrapper>
                        <div class=obrazek-wrapper><img class=lazyload data-src=/uploads/medicus-2-img-casestudy.jpg></div>
                    </div>
                </div>
            </div>
        </section>
        <section class='sec-padding sc-cols-w-no case-numbers-bg'>
            <h2 class='header-template cols-w-no-sec-header'><span class='f-w900 txt-underline txt-break txt-red txt-L'>EFEKTY POZYCJONOWANIA SEO</span>
                <span class='header-template f-w700 txt-black txt-XL'>3W</span>
            </h2>
            <ul class=cols-w-no>
                <li class=col-w-no>
                    <div class="col-w-no-header txt-L">Wzrost widoczności na frazach TOP 100 (307 -> 4409)</div>
                    <div class=col-w-no-desc>1436%</div><span class=no-bg>1</span>
                </li>
                <li class=col-w-no>
                    <div class="col-w-no-header txt-L">Wzrost ruchu organicznego na stronie (2375 -> 19024)</div>
                    <div class=col-w-no-desc>801%</div><span class=no-bg>2</span>
                </li>
                <li class=col-w-no>
                    <div class="col-w-no-header txt-L">Wzrost ogólnej liczby fraz kluczowych powiązanych ze stroną TOP 100 (399 -> 5029)</div>
                    <div class=col-w-no-desc>1260%</div><span class=no-bg>3</span>
                </li>
            </ul>
        </section>
        <section class='sec-padding sc-text-points-img case-white-bg a8849b90ab9139d7bf5aeb2f2a6f9c7b1'>
            <div class='two-col-row cnt-visibility'>
                <h2 class=header-template><span class='f-w900 txt-underline txt-break txt-red txt-L'>POZYCJONOWANIE DLA E-COMMERCE</span>
                    <span class='header-template f-w700 txt-black txt-XL ornament-r-r'>branża odzieżowa</span>
                </h2>
                <div class=second-col>
                    <div class=obrazek-outer-wrapper>
                        <div class=obrazek-wrapper><img class=lazyload data-src=/uploads/wykres-odziez.jpg></div>
                    </div>
                </div>
                <div class=first-col>
                    <div class='txt-L slogan'>Co zrobiliśmy?</div>
                    <ul class=red-point-list>
                        <li>Pełny Audyt SEO</li>
                        <li>Pełna optymalizacja SEO strony pod budowanie profilu linkowego</li>
                        <li>Poprawa nagłówków oraz treści na stronie</li>
                        <li>Stworzenie treści oraz wykupienie miejsc na wysoko rankingowanych portalach branżowych</li>
                    </ul>
                </div>
                <div class=second-col>
                    <div class=obrazek-outer-wrapper>
                        <div class=obrazek-wrapper><img class=lazyload data-src=/uploads/casestudy-odziez-2.jpg></div>
                    </div>
                </div>
            </div>
        </section>
        <section class='sec-padding sc-cols-w-no case-numbers-nobg'>
            <h2 class='header-template cols-w-no-sec-header'><span class='f-w900 txt-underline txt-break txt-red txt-L'>EFEKTY POZYCJONOWANIA</span>
                <span class='header-template f-w700 txt-black txt-XL'>SEO</span>
            </h2>
            <ul class=cols-w-no>
                <li class=col-w-no>
                    <div class="col-w-no-header txt-L">1. Wzrost widoczności na frazach TOP 100 (467 -> 1894)</div>
                    <div class=col-w-no-desc>405%</div><span class=no-bg>1</span>
                </li>
                <li class=col-w-no>
                    <div class="col-w-no-header txt-L">Wzrost ruchu organicznego na stronie (606 -> 4038)</div>
                    <div class=col-w-no-desc>663%</div><span class=no-bg>2</span>
                </li>
                <li class=col-w-no>
                    <div class="col-w-no-header txt-L">Wzrost ogólnej liczby fraz kluczowych powiązanych ze stroną TOP 100 (519 -> 2200)</div>
                    <div class=col-w-no-desc>423%</div><span class=no-bg>3</span>
                </li>
            </ul>
        </section>
        <section class='sec-padding sc-text-points-img case-gray-bg aa30a779bab9242c618d9958befbf9fb1'>
            <div class='two-col-row cnt-visibility'>
                <h2 class=header-template><span class='f-w900 txt-underline txt-break txt-red txt-L'>POZYCJONOWANIE DLA E-COMMERCE</span>
                    <span class='header-template f-w700 txt-black txt-XL ornament-r-r'>branża gier edukacyjnych</span>
                </h2>
                <div class=second-col>
                    <div class=obrazek-outer-wrapper>
                        <div class=obrazek-wrapper><img class=lazyload data-src=/uploads/casestudy-gry-edukacyjne-1.jpg></div>
                    </div>
                </div>
                <div class=first-col>
                    <div class='txt-L slogan'>Co zrobiliśmy?</div>
                    <ul class=red-point-list>
                        <li>Pełny Audyt SEO</li>
                        <li>Pełna optymalizacja SEO strony pod budowanie profilu linkowego</li>
                        <li>Poprawa nagłówków oraz treści na stronie</li>
                        <li>Stworzenie treści oraz wykupienie miejsc na wysoko rankingowanych portalach branżowych</li>
                    </ul>
                </div>
                <div class=second-col>
                    <div class=obrazek-outer-wrapper>
                        <div class=obrazek-wrapper><img class=lazyload data-src=/uploads/casestudy-gry-edukacyjne-2.jpg></div>
                    </div>
                </div>
            </div>
        </section>
        <section class='sec-padding sc-cols-w-no case-numbers-last'>
            <h2 class='header-template cols-w-no-sec-header'><span class='f-w900 txt-underline txt-break txt-red txt-L'>EFEKTY POZYCJONOWANIA</span>
                <span class='header-template f-w700 txt-black txt-XL'>SEO</span>
            </h2>
            <ul class=cols-w-no>
                <li class=col-w-no>
                    <div class="col-w-no-header txt-L">Wzrost widoczności na frazach TOP 100 (3273 -> 4191)</div>
                    <div class=col-w-no-desc>128%</div><span class=no-bg>1</span>
                </li>
                <li class=col-w-no>
                    <div class="col-w-no-header txt-L">Wzrost ruchu organicznego na stronie (1085 -> 1917)</div>
                    <div class=col-w-no-desc>177%</div><span class=no-bg>2</span>
                </li>
                <li class=col-w-no>
                    <div class="col-w-no-header txt-L">Wzrost ogólnej liczby fraz kluczowych powiązanych ze stroną TOP 100 (3483 -> 4482)</div>
                    <div class=col-w-no-desc>129%</div><span class=no-bg>3</span>
                </li>
            </ul>
        </section>
        <section class='sec-padding sc-text-points-img case-gray-bg ab3ba2b4ab1859f7f27b6dc9f19990e8a'>
            <div class='two-col-row cnt-visibility'>
                <h2 class=header-template><span class='f-w900 txt-underline txt-break txt-red txt-L'>POZYCJONOWANIE DLA E-COMMERCE</span>
                    <span class='header-template f-w700 txt-black txt-XL ornament-r-r'>salon sukni ślubnych</span>
                </h2>
                <div class=second-col>
                    <div class=obrazek-outer-wrapper>
                        <div class=obrazek-wrapper><img class=lazyload data-src=/uploads/case-study-suknie-slubne-1.jpg></div>
                    </div>
                </div>
                <div class=first-col>
                    <div class='txt-L slogan'>Co zrobiliśmy?</div>
                    <ul class=red-point-list>
                        <li>Pełny Audyt SEO</li>
                        <li>Pełna optymalizacja SEO strony pod budowanie profilu linkowego</li>
                        <li>Poprawa nagłówków oraz treści na stronie</li>
                        <li>Zaprojektowanie infografik na stronę główną</li>
                        <li>Napisanie treści oraz wykupienie miejsc na wysoko rankingowanych portalach branżowych</li>
                    </ul>
                </div>
                <div class=second-col>
                    <div class=obrazek-outer-wrapper>
                        <div class=obrazek-wrapper><img class=lazyload data-src=/uploads/case-study-suknie-slubne-2.jpg></div>
                    </div>
                </div>
            </div>
        </section>
        <section class='sec-padding sc-cols-w-no case-numbers-last'>
            <h2 class='header-template cols-w-no-sec-header'><span class='f-w900 txt-underline txt-break txt-red txt-L'>EFEKTY POZYCJONOWANIA</span>
                <span class='header-template f-w700 txt-black txt-XL'>SEO</span>
            </h2>
            <ul class=cols-w-no>
                <li class=col-w-no>
                    <div class="col-w-no-header txt-L">Wzrost widoczności na frazach TOP 100 (130 -> 1134)</div>
                    <div class=col-w-no-desc>827%</div><span class=no-bg>1</span>
                </li>
                <li class=col-w-no>
                    <div class="col-w-no-header txt-L">Wzrost ruchu organicznego na stronie (53 -> 5078)</div>
                    <div class=col-w-no-desc>9582%</div><span class=no-bg>2</span>
                </li>
                <li class=col-w-no>
                    <div class="col-w-no-header txt-L">Wzrost ogólnej liczby fraz kluczowych powiązanych ze stroną TOP 100 (130 -> 1320)</div>
                    <div class=col-w-no-desc>1015%</div><span class=no-bg>3</span>
                </li>
            </ul>
        </section>
        <section class='sec-padding sc-text-points-img case-gray-bg a7b8ff27a8bfa1b215beb99a039dc4969'>
            <div class='two-col-row cnt-visibility'>
                <h2 class=header-template><span class='f-w900 txt-underline txt-break txt-red txt-L'>POZYCJONOWANIE DLA E-COMMERCE</span>
                    <span class='header-template f-w700 txt-black txt-XL ornament-r-r'>produkty kreatywne dla dzieci</span>
                </h2>
                <div class=second-col>
                    <div class=obrazek-outer-wrapper>
                        <div class=obrazek-wrapper><img class=lazyload data-src=/uploads/casestudy-produkty-kreatywne-dla-dzieci-1.jpg></div>
                    </div>
                </div>
                <div class=first-col>
                    <div class='txt-L slogan'>Co zrobiliśmy?</div>
                    <ul class=red-point-list>
                        <li>Pełny Audyt SEO</li>
                        <li>Pełna optymalizacja SEO strony pod budowanie profilu linkowego</li>
                        <li>Poprawa nagłówków oraz treści na stronie</li>
                        <li>Napisanie treści oraz wykupienie miejsc na wysoko rankingowanych portalach branżowych</li>
                    </ul>
                </div>
                <div class=second-col>
                    <div class=obrazek-outer-wrapper>
                        <div class=obrazek-wrapper><img class=lazyload data-src=/uploads/casestudy-produkty-kreatywne-dla-dzieci-2.jpg></div>
                    </div>
                </div>
            </div>
        </section>
        <section class='sec-padding sc-cols-w-no case-numbers-last'>
            <h2 class='header-template cols-w-no-sec-header'><span class='f-w900 txt-underline txt-break txt-red txt-L'>EFEKTY POZYCJONOWANIA</span>
                <span class='header-template f-w700 txt-black txt-XL'>SEO</span>
            </h2>
            <ul class=cols-w-no>
                <li class=col-w-no>
                    <div class="col-w-no-header txt-L">Wzrost widoczności na frazach TOP 100 (130 -> 1134)</div>
                    <div class=col-w-no-desc>280%</div><span class=no-bg>1</span>
                </li>
                <li class=col-w-no>
                    <div class="col-w-no-header txt-L">Wzrost ruchu organicznego na stronie (53 -> 5078)</div>
                    <div class=col-w-no-desc>10445%</div><span class=no-bg>2</span>
                </li>
                <li class=col-w-no>
                    <div class="col-w-no-header txt-L">Wzrost ogólnej liczby fraz kluczowych powiązanych ze stroną TOP 100 (321 -> 958)</div>
                    <div class=col-w-no-desc>298%</div><span class=no-bg>3</span>
                </li>
            </ul>
        </section>
        <section class='sec-padding sc-text-points-img case-gray-bg abb0bf99a127bf126488a9b5a9739dfec'>
            <div class='two-col-row cnt-visibility'>
                <h2 class=header-template><span class='f-w900 txt-underline txt-break txt-red txt-L'>POZYCJONOWANIE DLA E-COMMERCE</span>
                    <span class='header-template f-w700 txt-black txt-XL ornament-r-r'>Costa.pl</span>
                </h2>
                <div class=second-col>
                    <div class=obrazek-outer-wrapper>
                        <div class=obrazek-wrapper><img class=lazyload data-src=/uploads/casestudy-costa-1.jpg></div>
                    </div>
                </div>
                <div class=first-col>
                    <div class='txt-L slogan'>Co zrobiliśmy?</div>
                    <ul class=red-point-list>
                        <li>Pełny Audyt SEO</li>
                        <li>Pełna optymalizacja SEO strony pod budowanie profilu linkowego</li>
                        <li>Poprawa nagłówków oraz treści na stronie</li>
                        <li>Napisanie treści oraz wykupienie miejsc na wysoko rankingowanych portalach branżowych</li>
                        <li>Ogromna rozbudowa contentu na podstronach kategorii</li>
                    </ul>
                </div>
                <div class=second-col>
                    <div class=obrazek-outer-wrapper>
                        <div class=obrazek-wrapper><img class=lazyload data-src=/uploads/casestudy-costa-2.jpg></div>
                    </div>
                </div>
            </div>
        </section>
        <section class='sec-padding sc-cols-w-no case-numbers-last'>
            <h2 class='header-template cols-w-no-sec-header'><span class='f-w900 txt-underline txt-break txt-red txt-L'>EFEKTY POZYCJONOWANIA</span>
                <span class='header-template f-w700 txt-black txt-XL'>SEO</span>
            </h2>
            <ul class=cols-w-no>
                <li class=col-w-no>
                    <div class="col-w-no-header txt-L">Wzrost widoczności na frazach TOP 100 (4392 -> 11102)</div>
                    <div class=col-w-no-desc>252%</div><span class=no-bg>1</span>
                </li>
                <li class=col-w-no>
                    <div class="col-w-no-header txt-L">Wzrost ruchu organicznego na stronie (5301 -> 56043)</div>
                    <div class=col-w-no-desc>1057%</div><span class=no-bg>2</span>
                </li>
                <li class=col-w-no>
                    <div class="col-w-no-header txt-L">Wzrost ogólnej liczby fraz kluczowych powiązanych ze stroną TOP 100 (4615 -> 17050)</div>
                    <div class=col-w-no-desc>369%</div><span class=no-bg>3</span>
                </li>
            </ul>
        </section>
    </main><svg class="svg">
        <clipPath id="my-clip-path" clipPathUnits="objectBoundingBox">
            <path d="M1 0S.734.31.0.148v.733s.353.254 1 .02V0" />
        </clipPath>
    </svg><svg class="svg">
        <clipPath id="my-clip-path2" clipPathUnits="objectBoundingBox">
            <path d="M1 .171S.95.13.857.177C.711.25.447.413.0.316v.721s.353.249 1 .019V.171" />
        </clipPath>
    </svg>
{{ function('get_footer', '') }}