{{ function('get_header', '') }}

<ol class="nav navbar-nav breadcrumbs" itemscope itemtype=http://schema.org/BreadcrumbList>
        <li itemprop=itemListElement itemscope itemtype=http://schema.org/ListItem><a href=/ itemprop=item><span itemprop=name>Agencja Wrocławska</span>
                <meta itemprop=position content="1">
            </a>></li>
        <li class=active itemprop=itemListElement itemscope itemtype=http://schema.org/ListItem><span itemprop=name>Google Adwords</span>
            <meta itemprop=position content="2">
        </li>
    </ol>
    <main id=content>
        <section class='sc-banner-center-noimg sc-banner-center-noimg-num' id=top-banner>
            <div class=center-banner-cnt><img data-src=/uploads/baner-img.svg class='lazyload banner-bg-img lmode'>
                <img data-src=/uploads/baner-img.svg class='lazyload banner-bg-img dmode'>
                <div class='on-banner-content sec-padding'>
                    <h1 class='header-template banner-header'><span class='f-w400 txt-break txt-black txt-XXL'>Google Ads</span>
                        <h2 class='header-template f-w700 txt-red txt-XXL banner-header'>Google Adwords</h2>
                    </h1>
                    <div class=no-img-banner-desc><strong>Kampanie Google Ads</strong> - czym są? System reklamowy umożliwiający prowadzenie kampanii promujących marki, produkty, usługi. Cały system obejmuje nie tylko samą wyszukiwarkę, ale także sieć partnerską GoogleSystem obejmuje różnego rodzaju reklamy min reklamy tekstowe, graficzne oraz video.</div><button data-modaltarget=modal1 class='open-modal-quote cta-button' href=#>Kontakt</button>
                    <span class=additional-cta-desc>bezpłatna wycena kampanii</span>
                </div>
            </div>
        </section>
        <section class='sec-padding sc-cols-w-img kolumny3-dlaczego'>
            <h3 class='header-template header-counter'><span class='f-w700 txt-black txt-XL'>Dlaczego warto zainwestować w Google Ads:</span></h3>
            <ul class=cols-w-img>
                <li class=col-w-img><img data-src=/uploads/miejsca-reklamowe.svg class=lazyload>
                    <div class="col-header txt-L">Najpopularniejsze miejsca reklamowe</div>
                    <div class=col-desc>(Google jest najczęściej używaną w Polsce przeglądarką)</div>
                </li>
                <li class=col-w-img><img data-src=/uploads/zwiekszenie-ruchu.svg class=lazyload>
                    <div class="col-header txt-L">Zwiększenie ruchu na witrynie</div>
                    <div class=col-desc>(konwertujący ruch przekładający się na sprzedaż lub zainteresowanie portfolio usługowym)</div>
                </li>
                <li class=col-w-img><img data-src=/uploads/efekt-mierzalny.svg class=lazyload>
                    <div class="col-header txt-L">Efekt mierzalny w krótkiej perspektywie czasu</div>
                </li>
                <li class=col-w-img><img data-src=/uploads/mozliwosc-personalizacji.svg class=lazyload>
                    <div class="col-header txt-L">Możliwość personalizacji form reklamy</div>
                    <div class=col-desc>aby dopasować idealnie ich wymiar do potrzeb reklamodawcy.</div>
                </li>
                <li class=col-w-img><img data-src=/uploads/okreslanie-grupy.svg class=lazyload>
                    <div class="col-header txt-L">Określanie grupy odbiorczej</div>
                    <div class=col-desc>(dostosowanie reklam do odpowiedniej grupy odbiorczej np. płeć lub wiek).</div>
                </li>
                <li class=col-w-img><img data-src=/uploads/staly-monitoring.svg class=lazyload>
                    <div class="col-header txt-L">Stały monitoring efektów</div>
                    <div class=col-desc>i możliwość wprowadzania zmian w naszych kampaniach w miarę bieżących potrzeb.</div>
                </li>
            </ul><span class=additional-cta-desc>Uzyskaj bezpłatną wycenę kampanii Google Ads</span>
            <button data-modaltarget=modal1 class='open-modal-quote cta-button' href=#>Kontakt</button>
        </section>
        <section class='sec-padding sc-cols-w-img kolumny2-rodzaje'>
            <h3 class='header-template header-counter'><span class='f-w700 txt-black txt-XL'>Jakie są rodzaje reklamy płatnej:</span></h3>
            <ul class=cols-w-img>
                <li class=col-w-img><img data-src=/uploads/google-shopping.svg class=lazyload>
                    <div class="col-header txt-L">Reklamy Google Shopping</div>
                    <div class=col-desc>Dzięki systemowi Google Ads prowadzisz kampanie skutecznie promującą konkretne produkty w postaci zdjęcia wraz z krótkim opisem w sekcji zakupów Google wraz z ceną która automatycznie zmienia się wraz ze zmianą na twojej stronie . W przypadku tej reklamy płacisz tylko za efekt czyli kliknięcie bezpośrednio w link odnoszący do twojej strony. Skraca to proces zakupowy przenosząc potencjalnego klienta bezpośrednio do konkretnego produktu.</div>
                </li>
                <li class=col-w-img><img data-src=/uploads/reklamy-w-sieci.svg class=lazyload>
                    <div class="col-header txt-L">Reklamy w sieci wyszukiwania</div>
                    <div class=col-desc>Najpopularniejsza forma reklamy PPC (Pay per click) Jest to forma komunikatu tekstowego wyświetlanego nad wyszukiwaniem organicznym w polu oznaczonym jako reklama. Na to komu wyświetla się twoja reklama ma wpływ wiele czynników między innymi odpowiednie słowa kluczowe, wysokość stawki za kliknięcie oraz profil klienta docelowego na którego targetujemy reklamę.</div>
                </li>
                <li class=col-w-img><img data-src=/uploads/remarketing.svg class=lazyload>
                    <div class="col-header txt-L">Remarketing</div>
                    <div class=col-desc>Forma reklamy Google Ads uzupełniająca pozostałe polega na wyświetleniu reklamy osobie która miała już styczność z naszą witryną ale z jakiegoś powodu nie dokonała zakupu lub w przypadku produktów i usług które zakupujemy lub korzystamy z nich więcej niż raz np. fryzjer mogą się wyświetlać co określony interwał czasowy.</div>
                </li>
                <li class=col-w-img><img data-src=/uploads/reklamy-yt.svg class=lazyload>
                    <div class="col-header txt-L">Reklamy na YouTube</div>
                    <div class=col-desc>Kampanie wideo realizowane poprzez serwis You Tube. Każdego dnia miliony użytkowników korzystają z tej witryny co pozwala na dotarcie do bardzo szerokiego grona odbiorców naszej reklamy.</div>
                </li>
                <li class=col-w-img><img data-src=/uploads/kampanie-g-ads.svg class=lazyload>
                    <div class="col-header txt-L">Kampanie Google Ads w sieci reklamowej</div>
                    <div class=col-desc>Kampanie GDN (Google Display Network) wykorzystują udostępnioną powierzchnie reklamową na stronach tysięcy serwisów należących do sieci reklamowej Google w formie banerów reklamowych.</div>
                </li>
            </ul><span class=additional-cta-desc>Wybierz najlepszą formę kampanii Google Ads dla Ciebie</span>
            <button data-modaltarget=modal1 class='open-modal-quote cta-button' href=#>Kontakt</button>
        </section>
        <section class='sec-padding sc-miarka'>
            <h2 class='header-template metrowka-sec-header header-counter'><span class='f-w700 txt-black txt-XL'>Etapy kampanii Google Ads:</span></h2>
            <ul class='miarka-wrapper miarka-len-8'>
                <li class=time-control><span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span class=ruller-middle><span>Analiza potrzeb</span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </li>
                <li class=time-control><span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span class=ruller-middle><span>Konfiguracja Google analitics</span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </li>
                <li class=time-control><span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span class=ruller-middle><span>Przygotowanie kampanii (do 7 dni)</span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </li>
                <li class=time-control><span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span class=ruller-middle><span>Kontrola ustawień i start kampanii</span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </li>
                <li class=time-control><span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span class=ruller-middle><span>Analizy efektów + bieżący kontakt</span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </li>
                <li class=time-control><span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span class=ruller-middle><span>Cykliczna optymalizacja</span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </li>
                <li class=time-control><span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span class=ruller-middle><span>Comiesięczne raportowanie</span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </li>
                <li class=time-control><span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span class=ruller-middle><span>Aktualizacja strategii i testowanie nowych rozwiązań</span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </li>
            </ul><img data-src=/uploads/etapy-kampanii-img-dark.svg class='lazyload lmode'>
            <img data-src=/uploads/etapy-kampanii-img.svg class='lazyload dmode'>
        </section>
        <section class='sec-padding sc-cols-w-img kolumny2-zdjecie'>
            <div class='header-template header-counter'><span class='f-w700 txt-red txt-XL'>Dlaczego my?</span></div>
            <div class=left-col>
                <ul class=cols-w-img>
                    <li class=col-w-img><img data-src=/uploads/doswiadczony-zespol.svg class=lazyload>
                        <div class=col-desc>Doświadczony zespół (pełna opieka marketingowa)</div>
                    </li>
                    <li class=col-w-img><img data-src=/uploads/skutecznie-zrealizowane.svg class=lazyload>
                        <div class=col-desc>Skutecznie zrealizowane Kampanie Google Ads (przeszłe i obecne)</div>
                    </li>
                    <li class=col-w-img><img data-src=/uploads/wsparcie-optymalizacji.svg class=lazyload>
                        <div class=col-desc>Wsparcie pod kątem optymalizacji strony</div>
                    </li>
                    <li class=col-w-img><img data-src=/uploads/ciagly-monitoring-1.svg class=lazyload>
                        <div class=col-desc>Ciągły monitoring i optymalizacja kampanii Google Ads (maksymalizacja sprzedaży)</div>
                    </li>
                </ul>
            </div>
            <div class=right-col><img data-src=/uploads/dlaczego-my-img.svg class='lazyload lmode'>
                <img data-src=/uploads/dlaczego-my-img-dark.svg class='lazyload dmode'>
            </div>
        </section>
        <section class='sec-padding sc-two-col-img-txt'>
            <div class='two-col-row row-0'>
                <div class=first-col>
                    <div class='header-template header-counter'><span class='f-w700 txt-black txt-XL'>Kompleksowe działania kluczem do sukcesu twojej firmy.</span></div><strong>Działając jednocześnie na wielu polach w Internecie zwiększasz rozpoznawalność marki, wzmacniasz pozycję strony internetowej w wyszukiwarce i kreujesz pozytywny wizerunek swojej firmy.<br></strong>Wybierz i kompleksowo łącz usługi ze wszystkich obszarów e-marketingu. Wykorzystaj potencjał marketingu internetowego integrując kampanie SEO, Google Ads i Social Media, aby skutecznie realizować swoje cele biznesowe.<br><br>Gwarantujemy Ci wygodę obsługi i korzystną ofertę cenową dostosowaną do Twoich potrzeb.
                    <button data-modaltarget=modal1 class='open-modal-quote cta-button' href=#>Kontakt</button>
                </div>
                <div class=second-col><img data-src=/uploads/google-seo-media.svg class='lazyload lmode'>
                    <img data-src=/uploads/google-seo-media.svg class='lazyload dmode'>
                </div>
            </div>
        </section>
        <section class=sc-czerwona-belka>
            <div class='red-badge-wrapper sec-padding'>
                <div class=badge-contact><span class=badge-name>Robert Czupry</span>
                    <span class=badge-position>Google Ads Manager</span>
                    <a class=tel-link href=tel:+48%20734%20130%20953>+48 734 130 953</a>
                    <a class=mail-link href=mailto:r.czupry@agencjawroclawska.pl>r.czupry@agencjawroclawska.pl</a>
                </div>
                <div class=badge-img>
                    <div><img class="lazyload art-author-img" data-src=/uploads/robert1.jpeg></div>
                </div>
            </div>
        </section>
    </main><svg class="svg">
        <clipPath id="my-clip-path" clipPathUnits="objectBoundingBox">
            <path d="M1 0S.734.31.0.148v.733s.353.254 1 .02V0" />
        </clipPath>
    </svg><svg class="svg">
        <clipPath id="my-clip-path2" clipPathUnits="objectBoundingBox">
            <path d="M1 .171S.95.13.857.177C.711.25.447.413.0.316v.721s.353.249 1 .019V.171" />
        </clipPath>
    </svg>
{{ function('get_footer', '') }}