{{ function('get_header', '') }}

<ol class="nav navbar-nav breadcrumbs" itemscope itemtype=http://schema.org/BreadcrumbList>
        <li itemprop=itemListElement itemscope itemtype=http://schema.org/ListItem><a href=/ itemprop=item><span itemprop=name>Agencja Wrocławska</span>
                <meta itemprop=position content="1">
            </a>></li>
        <li class=active itemprop=itemListElement itemscope itemtype=http://schema.org/ListItem><span itemprop=name>Konsultacje SEO</span>
            <meta itemprop=position content="2">
        </li>
    </ol>
    <main id=content>
        <section class=sc-banner-center-noimg id=top-banner>
            <div class=center-banner-cnt><img data-src=/uploads/konsultacje2-1.svg class='lazyload banner-bg-img lmode'>
                <img data-src=/uploads/konsultacje2-dark.svg class='lazyload banner-bg-img dmode'>
                <div class='on-banner-content sec-padding'>
                    <h1 class='header-template banner-header'><span class='f-w700 txt-underline txt-red txt-XL'>Konsultacje</span>
                        <span class='header-template f-w700 txt-black txt-XL'>SEO</span>
                    </h1>
                    <div class=no-img-banner-desc>Zastanawiasz się w jaki sposób SEO? Masz dużo pytań, ale nie potrafisz ich sprawnie skonstruować, bo Twoja wiedza na temat pozycjonowania jest ograniczona? Poczyniłeś pewne zmiany, ale dalej ruch na stronie odbiega od Twoich wyobrażeń?</div><button data-modaltarget=modal1 class='open-modal-quote cta-button' href=#>Zapisz się na konsultacje SEO</button>
                </div>
            </div>
        </section>
        <section class='sec-padding sc-price-table'>
            <h2 class='header-template tutorial-sec-header'><span class='f-w900 txt-underline txt-break txt-red txt-L'>Konsultacje SEO</span>
                <span class='header-template f-w700 txt-black txt-XL ornament-r-b'>Cennik - 2021</span>
            </h2>
            <div class=table-content-cnt>
                <div class=table-wrapper>
                    <div class=table-heading>
                        <div class='tb-col txt-L f-w700'>Usługa</div>
                        <div class='tb-col txt-L f-w700'>Cena</div>
                    </div>
                    <div class=table-row>
                        <div class=tb-col>Konsultacje - pozycjonowanie</div>
                        <div class=tb-col>od 200 zł zł/h</div>
                    </div>
                </div>
            </div>
        </section>
        <section class='sec-padding sc-questionmark sc-gray question-filled'>
            <h2 class='header-template qustionmark-header'><span class='f-w900 txt-underline txt-break txt-red txt-L'>CZEGO DOWIESZ SIĘ NA NASZYCH KONSULTACJACH</span>
                <span class='header-template f-w700 txt-black txt-XL ornament-r-b'>dotyczących pozycjonowania strony?</span>
            </h2>
            <div class=questionmark-description>Pozycjonowanie stron internetowych jest bardzo rozległym tematem, na które ma wpływ niezliczona liczba czynników. To nie tylko poprawa i optymalizacja działania strony, czy odpowiednie ustawienie metatagów na Twojej stronie. To cały system, w którym każdy trybik odgrywa określoną ważną rolę dla całości. Na konsultacjach z nami dowiesz się wszystkiego czego potrzebujesz do tego, żeby więcej ludzi odwiedzało Twój portal i spróbujesz sam obrać swój model biznesowy, po to, aby zmaksymalizować swoje zyski. Chętnie podzielimy się swoimi doświadczeniami, stawiamy mocno na szczerość i prawdę, nawet jeśli miałaby być bolesna. Opowiemy Ci o technikach i możliwościach jakie otwierają przed Tobą przeglądarki takie jak Google.</div>
        </section>
        <section class='sec-padding sc-faq faq faq-wide'>
            <h2 class='header-template faq-header'><span class='f-w900 txt-underline txt-break txt-red txt-L'>NAJCZĘŚCIEJ</span>
                <span class='header-template f-w700 txt-black txt-XL'>zadawane pytania</span>
            </h2>
            <ul class=faq-list>
                <li><button class=faq-q-cta>
                        <h3 class='faq-q txt-L'>Ile trwają pełne konsultacje SEO?</h3>
                    </button>
                    <div class='faq-a hidden'>Do poznania całego know-how odnośnie pozycjonowania wystarczy około 30 godzin konsultacji, przy takim typie usługi dajemy informacji o pozycjonowaniu od A do Z, dodatkowo przewidziane są również konkretne artykuły czy polecenia książek, z których dodatkowo można poszerzać swoją wiedzę. Natomiast dla klientów, którzy chcą się tylko doszkolić - są przewidziane konsultacje krótsze, kilku/kilkunasto - godzinne.</div>
                </li>
                <li><button class=faq-q-cta>
                        <h3 class='faq-q txt-L'>Ile kosztuje godzina konsultacji w Agencji Wrocławskiej?</h3>
                    </button>
                    <div class='faq-a hidden'>W naszej agencji koszt godzinnych konsultacji zaczyna się od 200zł/h. Cena oczywiście ulega zmianie, jeśli klient chciałby wykupić pakiet na więcej godzin.</div>
                </li>
                <li><button class=faq-q-cta>
                        <h3 class='faq-q txt-L'>Jaki jest plan działań na konsultacjach?</h3>
                    </button>
                    <div class='faq-a hidden'>Klient wybiera odpowiednią liczbę godzin, na których będzie chciał poszerzać swoją wiedzę. Natomiast same konsultacje będą odbywały się face2face podczas spotkań, albo na komunikatorach takich jak Zoom czy Microsoft Teams.</div>
                </li>
            </ul>
        </section>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var e, t = document.querySelectorAll(".faq-list li");
                if (t.length > 0)
                    for (e = 0; e < t.length; e++) t[e].addEventListener("click", function(e) {
                        e.preventDefault(), this.classList.toggle("acc-opened"), this.querySelector(".faq-a").classList.toggle("hidden")
                    })
            })

        </script>
        <section class='sec-padding sc-cta'><a data-modaltarget=modal1 class='open-modal-quote cta-button' href=#>Zamów bezpłatną wycenę</a></section>
    </main><svg class="svg">
        <clipPath id="my-clip-path" clipPathUnits="objectBoundingBox">
            <path d="M1 0S.734.31.0.148v.733s.353.254 1 .02V0" />
        </clipPath>
    </svg><svg class="svg">
        <clipPath id="my-clip-path2" clipPathUnits="objectBoundingBox">
            <path d="M1 .171S.95.13.857.177C.711.25.447.413.0.316v.721s.353.249 1 .019V.171" />
        </clipPath>
    </svg>
{{ function('get_footer', '') }}