{{ function('get_header', '') }}

<ol class="nav navbar-nav breadcrumbs" itemscope itemtype=http://schema.org/BreadcrumbList>
        <li itemprop=itemListElement itemscope itemtype=http://schema.org/ListItem><a href=/ itemprop=item><span itemprop=name>Agencja Wrocławska</span>
                <meta itemprop=position content="1">
            </a>></li>
        <li class=active itemprop=itemListElement itemscope itemtype=http://schema.org/ListItem><span itemprop=name>Program partnerski</span>
            <meta itemprop=position content="2">
        </li>
    </ol>
    <main id=content>
        <section class=sc-banner-w-bubbles>
            <div class='banner-bubbles-content sec-padding'>
                <div class=banner-left-col>
                    <h1 class='header-template banner-header'><span class='f-w300 txt-break txt-black txt-XXL'>Dołącz do programu partnerskiego</span>
                        <span class='header-template f-w900 txt-red txt-XXL'>Agencji Wrocławskiej</span>
                    </h1>
                    <p class='header-template banner-slogan'><span class='f-w400 txt-black txt-S'>Spory bonus na start + pasywny dochód z każdego miesiąca obsługi</span></p>
                </div>
                <div class=banner-right-col>
                    <div class=bubble-wrapper><img data-src=/uploads/dlugopis.svg class=lazyload>
                        <div class='header-template bubble-header'><span class='f-w700 txt-red txt-MD'>Zarejestruj się już dziś</span></div>Dołącz do programu partnerskiego naszej agencji SEO i zacznij czerpać zyski przez cały okres trwania umowy poleconego klienta.
                    </div>
                    <div class=bubble-wrapper><img data-src=/uploads/megafon.svg class=lazyload>
                        <div class='header-template bubble-header'><span class='f-w700 txt-red txt-MD'>Poleć nas swoim znajomym</span></div>Za każdego poleconą firmę, która rozpocznie z nami działania pozycjonowania organicznego SEO – dostaniesz premię na start współpracy oraz pasywny dochód miesięczny z tytułu polecenia.
                    </div>
                    <div class=bubble-wrapper><img data-src=/uploads/kasa.svg class=lazyload>
                        <div class='header-template bubble-header'><span class='f-w700 txt-red txt-MD'>Zarabiaj online</span></div>Dzięki poleceniu firmy, która rozpocznie z nami współpracę – otrzymujesz jednorazowo 30% wartości miesięcznego abonamentu płaconego nam przez klienta. Dodatkowo, od drugiego miesiąca wypłacamy Ci comiesięczny zysk pasywny w postaci 5% od wartości miesięcznego abonamentu.
                    </div>
                </div>
            </div>
        </section>
        <section class='sec-padding sc-metrowka'>
            <h2 class='header-template metrowka-sec-header'><span class='f-w700 txt-black txt-MD'>Zarejestruj się do programu, poleć firmę, kolejnymi krokami zajmie się</span>
                <span class='header-template f-w700 txt-red txt-MD'>Agencja Wrocławska</span>
            </h2>
            <div class=metrowka-wrapper>
                <div class=time-control>
                    <div class=ruller>
                        <div class="time-cursor color-red"></div>
                    </div>
                    <div class=timeline>
                        <div class=animation>
                            <div class=animation-delay><span>krok <span>1</span></span></div>
                            <div class="info-change-begin info info-left info-bottom" data-delay=100>
                                <figcaption class=feature-caption>Po przekazaniu nam danych Twojego poleconego klienta – specjalista SEO przeprowadza dogłębny audyt strony, wskazuje dotychczasowe problemy, błędy oraz zaproponowanie przez nas kolejnych kroków w celu usprawnienia dotychczasowej domeny oraz przygotowanie ją poprzez optymalizację do rozpoczęcia działań SEO</figcaption>
                            </div>
                            <div class="animation-band animation-end-delay"></div>
                        </div>
                        <div class=animation>
                            <div class=animation-delay><span>krok <span>2</span></span></div>
                            <div class="info-change-begin info info-left info-bottom" data-delay=" 400">
                                <figcaption class=feature-caption>Przygotowujemy strategię działań oraz research słów kluczowych dla klienta, które pozwolą mu w jak najkrótszym czasie pozwolić generować jakościowy ruch z wyszukiwarki, przekładający się na widoczność, zwiększający konwersję oraz sprzedaż na stronie</figcaption>
                            </div>
                            <div class="animation-band animation-end-delay"></div>
                        </div>
                        <div class=animation>
                            <div class=animation-delay><span>krok <span>3</span></span></div>
                            <div class="info-change-begin info info-left info-bottom" data-delay=" 800">
                                <figcaption class=feature-caption>Analizujemy z klientem dotychczasowe sugestię oraz frazy kluczowe, które mają być najbardziej opłacalne</figcaption>
                            </div>
                            <div class="animation-band animation-end-delay"></div>
                        </div>
                        <div class=animation>
                            <div class=animation-delay><span>krok <span>4</span></span></div>
                            <div class="info-change-begin info info-left info-bottom" data-delay=" 1200">
                                <figcaption class=feature-caption>Po wykonaniu wszystkich kroków tworzących całą strategię działań marketingowych – rozpoczynamy współpracę, a Ty możesz cieszyć się dodatkowym miesięcznym profitem.</figcaption>
                            </div>
                            <div class="animation-band animation-end-delay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class='sec-padding sc-two-col-img-txt'>
            <div class='two-col-row row-0'>
                <div class=first-col>
                    <h2 class='header-template header-counter'><span class='f-w700 txt-break txt-red txt-XL'>KORZYŚCI</span>
                        <span class='header-template f-w700 txt-black txt-MD'>z programu partnerskiego</span>
                    </h2>
                    <p class='txt-MD f-w700'><span class='txt-break txt-red'>Zarabiaj dodatkowe pieniądze</span> wprost ze swojej kanapy</p>Zostanie partnerem Agencji Wrocławskiej jest proste i lukratywne. Jedyne co musisz zrobić to przekazać dane poleconego klienta, później Twoim zadaniem jest tylko sprawdzenie swojego konta bankowego i liczenie profitu.
                </div>
                <div class=second-col><img data-src=/uploads/korzysci.svg class='lazyload lmode'>
                    <img data-src=/uploads/korzysci.svg class='lazyload dmode'>
                </div>
            </div>
            <div class='two-col-row row-1'>
                <div class=first-col>
                    <h2 class='header-template header-counter'><span class='f-w700 txt-break txt-red txt-MD'>Szepnij o nas słówko</span>
                        <span class='header-template f-w700 txt-black txt-MD'>swoim kontaktom w sieci</span>
                    </h2>Jako Partner Agencji Wrocławskiej nie ma różnicy czy poleciłeś nam 1, czy 10 klientów. Twoje warunki zawsze będą takie same, dlatego zwiększając liczbę poleconych klientów zwiększa się Twój zasób portfela. Przy najlepszych Partnerach, którzy wygenerowali największe liczby leadów – zaproponujemy dodatkowe, indywidualne premię.
                </div>
                <div class=second-col><img data-src=/uploads/slowko.svg class='lazyload lmode'>
                    <img data-src=/uploads/slowko.svg class='lazyload dmode'>
                </div>
            </div>
        </section>
        <section class='sec-padding sc-wykres'>
            <h2 class='header-template metrowka-sec-header'><span class='f-w700 txt-break txt-red txt-XXL'>Generowanie zysków</span>
                <span class='header-template f-w700 txt-black txt-MD'>na przykładzie rocznym</span>
            </h2>
            <div class=wykres-wrapper>
                <div class=easing-visualizer>
                    <div class=bars-wrapper></div>
                    <div class=dots-wrapper></div>
                    <div class=months-wrapper>
                        <ol>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class=below-wykres-wrapper>
                <div class='txt-red txt-MD f-w700'>Przykład</div>
                <div class=opis-pod-wykres>Polecony klient, który decyduje się na abonament w kwocie 1500 zł/miesięcznie.<ul>
                        <li>Polecony klient przynosi profit 500 zł netto dla Partnera w trybie natychmiastowym</li>
                        <li>Comiesięczne zyski w postaci 5% to 75 zł netto dla Partnera</li>
                        <li>Po 12 miesiącach współpracy Partner inkasuje 1400 zł na jednym poleceniu</li>
                        <ul>
                </div>
            </div>
        </section>
        <style>
            .sc-wykres .easing-visualizer::after {
                content: '1400 zł'
            }

            .sc-wykres .easing-visualizer::before {
                content: '500 zł'
            }

        </style>
        <section class=sc-czerwona-belka>
            <div class='header-template czerwona-sec-header'><span class='f-w700 txt-break txt-red txt-XXL'>Zainteresowanych</span>
                <h2 class='header-template f-w700 txt-black txt-L czerwona-sec-header'>zapraszamy do kontaktu!</h2>
            </div>
            <div class='red-badge-wrapper sec-padding'>
                <div class=badge-contact><span class=badge-name>Jakub Horbacz</span>
                    <span class=badge-position>Head of SEO</span>
                    <a class=tel-link href=tel:+48%20792%20789%20836>+48 792 789 836</a>
                    <a class=mail-link href=mailto:j.horbacz@agencjawroclawska.pl>j.horbacz@agencjawroclawska.pl</a>
                </div>
                <div class=badge-img>
                    <div><img class="lazyload art-author-img" data-src=/uploads/jakub1.jpg></div>
                </div>
            </div>
        </section>
    </main><svg class="svg">
        <clipPath id="my-clip-path" clipPathUnits="objectBoundingBox">
            <path d="M1 0S.734.31.0.148v.733s.353.254 1 .02V0" />
        </clipPath>
    </svg><svg class="svg">
        <clipPath id="my-clip-path2" clipPathUnits="objectBoundingBox">
            <path d="M1 .171S.95.13.857.177C.711.25.447.413.0.316v.721s.353.249 1 .019V.171" />
        </clipPath>
    </svg>
{{ function('get_footer', '') }}