{{ function('get_header', '') }}

<ol class="nav navbar-nav breadcrumbs" itemscope itemtype=http://schema.org/BreadcrumbList>
        <li itemprop=itemListElement itemscope itemtype=http://schema.org/ListItem><a href=/ itemprop=item><span itemprop=name>Agencja Wrocławska</span>
                <meta itemprop=position content="1">
            </a>></li>
        <li class=active itemprop=itemListElement itemscope itemtype=http://schema.org/ListItem><span itemprop=name>Facebook Ads</span>
            <meta itemprop=position content="2">
        </li>
    </ol>
    <main id=content>
        <section class=sc-banner-center-noimg id=top-banner>
            <div class=center-banner-cnt><img data-src=/uploads/sm-aw-grafika-1.svg class='lazyload banner-bg-img lmode'>
                <img data-src=/uploads/sm-aw-grafika-1.svg class='lazyload banner-bg-img dmode'>
                <div class='on-banner-content sec-padding'>
                    <h1 class='header-template banner-header'><span class='f-w400 txt-break txt-black txt-XXL'>Kampanie Social Media</span>
                        <div class='header-template f-w900 txt-red txt-XXL banner-header'>to większa sprzedaż i rozpoznawalność marki</div>
                    </h1>
                    <div class=no-img-banner-desc>• będziesz miał atrakcyjne i popularne profile Facebook lub Instagram,<br>• dostarczanie wartościowych postów prowadzi do czerpania zysków,<br>• prowadząc social media dbasz o kontakt z klientami,<br>• praca nad przyjazną, ludzką twarzą marki.</div><span class=additional-ornaments></span>
                </div>
            </div>
        </section>
        <section class='sec-padding sc-two-col-img-txt'>
            <div class='two-col-row row-0'>
                <div class=first-col>
                    <h2 class='header-template header-counter'><span class='f-w700 txt-break txt-black txt-MD'>Kampanie Facebook&Instagram</span>
                        <div class='header-template f-w700 txt-red txt-XL header-counter'>Jak wykorzystać potencjał?</div>
                    </h2>Prowadzenie profili w Social Mediach (Instagram i Facebook), czyli odpowiednia komunikacja na Instagramie i Facebooku pomagają wzmocnić kontakt z konsumentem, angażować relacje z marką oraz mieć wpływ na jej rozwój.<br><br>Social Mediach można łatwo dostać się do naszej grupy docelowej i działać marketingowo poprzez zdjęcia, grafiki, posty, relacje czy płatne kampanie.<br><br>Pomagamy klientom zwiększyć ich biznes poprzez działania w social mediach. Angażujemy, budujemy, wymyślamy, tworzymy i analizujemy.
                </div>
                <div class=second-col><img data-src=/uploads/sm-aw-grafika-2.svg class='lazyload lmode'>
                    <img data-src=/uploads/sm-aw-grafika-2.svg class='lazyload dmode'>
                </div>
            </div>
        </section>
        <section class='sec-padding sc-strategia'>
            <div class=left-col>
                <h2 class='header-template front-news-header'><span class='f-w700 txt-break txt-black txt-MD'>Strategia</span>
                    <span class='header-template f-w700 txt-red txt-XL'>Social Media</span>
                </h2>
            </div>
            <div class=right-col>
                <ol>
                    <li>Przeanalizujemy Twoje dotychczasowe działania w social mediach</li>
                    <li>Wyciągniemy wnioski i zastanowimy się nad nadrzędnym celem komunikacji</li>
                    <li>Opracujemy strategię komunikacji i wyznaczymy cele na najbliższy rok</li>
                    <li>Stworzymy KV komunikacji przystosowany do kanałów social media</li>
                    <li>Zaplanujemy publikacje na najbliższe miesiące</li>
                    <li>Zaopiekujemy się działaniami związanymi z administrowaniem Twoich profili</li>
                </ol>
            </div>
        </section>
        <section class='sec-padding sc-oferta-social'>
            <div class=first-row>
                <h2 class='header-template front-news-header'><span class='f-w700 txt-break txt-black txt-MD'>Oferta obsługi</span>
                    <span class='header-template f-w700 txt-red txt-XL ornament-r-b'>Social Mediów</span>
                </h2>
                <div class=sec-description>W ramach obsługi profilu na Instagramie i Facebooku klienci otrzymują wsparcie oraz stały kontakt ze specjalistą.<br><br>Po rozpoczęciu współpracy klient otrzymuje analizę dotychczasowych działań w social mediach, na podstawie analizy pracujemy strategię, content i cele działania profilu. Klient co miesiąc otrzymuje plan publikacji na kolejny miesiąc (posty, teksty, grafiki, relacje).<br><br>Podczas trwania współpracy dbamy o konto i utrzymujemy stałą komunikację.</div>
            </div>
            <div class=second-row>
                <ol>
                    <li><span class=ikona><img data-src=/uploads/sm-kntakt-specjalisty.svg class='lazyload col-img'></span>
                        <p class=tytul>KONTAKT SPECJALISTY</p>
                        <p class=podtytul>ds. social media</p>
                    </li>
                    <li><span class=ikona><img data-src=/uploads/sm-omowienie-strategii.svg class='lazyload col-img'></span>
                        <p class=tytul>OMÓWIENIE STRATEGII</p>
                        <p class=podtytul>wybór odpowiedniego pakietu</p>
                    </li>
                    <li><span class=ikona><img data-src=/uploads/sm-zawacie-umowy.svg class='lazyload col-img'></span>
                        <p class=tytul>ZAWARCIE UMOWY</p>
                        <p class=podtytul>według uzgodnionych warunków</p>
                    </li>
                    <li><span class=ikona><img data-src=/uploads/sm-zalozenie-profilu.svg class='lazyload col-img'></span>
                        <p class=tytul>ZAŁOŻENIE PROFILU</p>
                        <p class=podtytul>lub jego uzupełnienie</p>
                    </li>
                    <li><span class=ikona><img data-src=/uploads/sm-wdrozenie-dzialan.svg class='lazyload col-img'></span>
                        <p class=tytul>WDROŻENIE DZIAŁAŃ</p>
                        <p class=podtytul>na profilu</p>
                    </li>
                    <li><span class=ikona><img data-src=/uploads/sm-raportowanie.svg class='lazyload col-img'></span>
                        <p class=tytul>RAPORTOWANIE</p>
                        <p class=podtytul>co miesiąc z przeprowadzonych działań</p>
                    </li>
                </ol>
            </div>
        </section>
        <section class='sec-padding sc-oferta-social'>
            <div class=first-row>
                <div class=left-col><img data-src=/uploads/sm-zasady-wspolpracy.svg class='lazyload col-img'></div>
                <div class=right-col>
                    <div class='header-template front-news-header'><span class='f-w400 txt-break txt-black txt-MD'>Zasady</span>
                        <span class='header-template f-w700 txt-red txt-XL ornament-l-b'>współpracy</span>
                    </div>
                </div>
            </div>
            <div class=second-row>
                <ul>
                    <li><span class=ikona><img data-src=/uploads/sm-wyroznic.svg class='lazyload col-img'></span>
                        <p class=tytul>Wyróżnić</p>
                        <p class=opis>Poprzez prowadzenie profilu w Social Mediach i unikatowy content można dać klientom łatwy dostęp do marki, przedstawić wyjątkowość produktów oraz dać możliwość uczestniczenia w życiu profilu.Skłaniamy konsumenta to refleksji, zastanowienia się i zainteresowanie profilem Zachęcamy klienta do komunikacji, wyrażania opinii i tworzeniu wspólnie profilu w Social Mediach, który chce oglądać.</p>
                    </li>
                    <li><span class=ikona><img data-src=/uploads/sm-tworzyc-content.svg class='lazyload col-img lmode'>
                            <img data-src=/uploads/sm-tworzyc-content.svg class='lazyload dmode'></span>
                        <p class=tytul>Tworzyć atrakcyjny content</p>
                        <p class=opis>Planowanie działan i budowanie atrakcyjnego contentu zagwarantuje wzrost efektywności komunikacji w social mediach. Aby prowadzić właściwie profil trzeba dobrze poznać konsumenta, jego działania, wybory i preferencje wyświetlania. Do tego służy nam analiza dotychczasowych działan klienta, dobranie odpowiedniej grupy docelowej, badania nastroju i odczuć użytkownika. Na podstawie zebranych informacji projektujemy posty, relacje i grafiki.</p>
                    </li>
                    <li><span class=ikona><img data-src=/uploads/sm-planowac.svg class='lazyload col-img'></span>
                        <p class=tytul>Planować</p>
                        <p class=opis>Konieczna jest najwyższa jakość pracy i efektywne planowanie. Dzięki temu możemy utrzymać zadowalające usługi i tworzyć całkowity content (grafiki, tekst, relacje, posty), które będą zaplanowane do publikacji na cały miesiąc. Pozwala to na stałą obsługę oraz skuteczne działanie na profilach w social mediach.</p>
                    </li>
                    <li><span class=ikona><img data-src=/uploads/sm-budowac-zasiegi.svg class='lazyload col-img'></span>
                        <p class=tytul>Budować zasięg</p>
                        <p class=opis>Treści publikowane są autentyczne, wyjątkowe i przyciągające uwagę klienta. Dodatkowo działamy płatnymi reklamami Facebook Ads, co skutkuje wzrostem zasięgu i większą sprzedaż. Specjaliści odpowiednio dobierają grupy odbiorców, hasła oraz reklamy pod zainteresowanych.</p>
                    </li>
                    <li><span class=ikona><img data-src=/uploads/sm-analizowac.svg class='lazyload col-img'></span>
                        <p class=tytul>Analizować</p>
                        <p class=opis>Konieczna jest najwyższa jakość pracy i efektywne planowanie. Dzięki temu możemy utrzymać zadowalające usługi i tworzyć całkowity content (grafiki, tekst, relacje, posty), które będą zaplanowane do publikacji na cały miesiąc. Pozwala to na stałą obsługę oraz skuteczne działanie na profilach w social mediach.</p>
                    </li>
                </ul>
            </div>
        </section>
        <section class='sec-padding sc-soc-cta icon-arrange-prawa'>
            <div class=icon-wrapper><img data-src=/uploads/sm-kontakt.svg class='lazyload col-img'></div><button data-modaltarget=modal-soc0927bb80cd776cf44db2b63591385612 class='open-modal-quote cta-soc-button' href=#>Skontaktuj się z nami</button>
        </section>
        <div data-modalname=modal-soc0927bb80cd776cf44db2b63591385612 class=modal-quote-outer>
            <div class=modal-wrapper><a href=# class=button-close-modal></a>
                <div class=form-header>Zamów bezpłatną wycenę w 24h!</div>
                <form id=contactform action=https://formsubmit.io/send/kontakt@agencjawroclawska.pl method=post>
                    <div class=input-cnt><input required name=email type=email id=email placeholder="Adres e-mail"><label for=email> Adres e-mail</label></div>
                    <div class=input-cnt><input name=www type=text id=www placeholder="Adres strony www"><label for=www>Adres strony www</label></div>
                    <div class=input-cnt><input required name=phone type=tel id=phone placeholder="Numer telefonu"><label for=phone>Numer telefonu</label></div>
                    <div><span class=radio-cnt-title>Wybierz temat zapytania</span>
                        <div class=form-radio><input type=radio id=positoning name=question value=pozycjonowanie><label for=positoning>Pozycjonowanie</label></div>
                        <div class=form-radio><input type=radio id=social-media name=question value="social media"><label for=social-media>
                                Social media</label></div>
                        <div class=form-radio><input type=radio id=google-adwords name=question value="google adwrods"><label for=google-adwords>Google AdWords</label></div>
                    </div><input name=_formsubmit_id type=text style=display:none>
                    <button type=submit>Wyślij zapytanie</button>
                    <div class=rodo><input id=rodo-accept type=checkbox required name=rodo-accept value=accept>
                        <label for=rodo-accept>Administratorem Twoich danych osobowych, czyli podmiotem decydującym o celach i sposobach przetwarzania Twoich danych osobowych jest Agencja Wrocławska. Informujemy, że podanie danych osobowych zawartych w formularzu jest dobrowolne, ale niezbędne do skutecznego nawiązania kontaktu z Administratorem, jak również przysługują Ci prawa dostępu do Twoich danych osobowych, ich zmiany (w tym aktualizacji), a także pozostałe prawa opisane w Polityce prywatności. W Polityce prywatności znajdują się także szczegółowe informację w zakresie praw i obowiązków Administratora.</label>
                    </div>
                </form>
            </div>
        </div>
        <section class='sec-padding sc-two-col-img-txt'>
            <div class='two-col-row row-0'>
                <div class=first-col>
                    <h2 class='header-template header-counter'><span class='f-w400 txt-break txt-black txt-XXL'>Reklamy</span>
                        <span class='header-template f-w900 txt-red txt-XXL'>Facebook Ads</span>
                    </h2>• reklam w najpopularniejszym portalu social media,<br>• kampanie nastawione na pozyskiwanie klientów i sprzedaż,<br>• dokładne raporty z działań.
                </div>
                <div class=second-col><img data-src=/uploads/sm-reklamy-fb.svg class='lazyload lmode'>
                    <img data-src=/uploads/wyszukiwarka.svg class='lazyload dmode'>
                </div>
            </div>
            <div class='two-col-row row-1'>
                <div class=first-col>
                    <h2 class='header-template header-counter'><span class='f-w400 txt-break txt-black txt-XXL'>Dlaczego</span>
                        <span class='header-template f-w900 txt-red txt-XXL'>Facebook Ads</span>
                    </h2>Najszybciej i najlepiej rozwijające się reklamy w Internecie to właśnie Facebook Ads. Coraz więcej firm korzysta z takiej formy reklamy produktów i usług. Facebook Ads posiada doskonałe możliwości dobierania grup odbiorców i dopasowania dla nich oferty. Masz mnóstwo możliwości, możesz wybrać formę idealnie dostosowaną do Twoich produktów czy usług. Reklama może angażować, zachęcać do działania, dawać informację, przekierować na stronę, zbierać kontakty oraz umożliwiać zakupy.<br><br><span class=txt-red>Każdy może ustalić budżet według swoich możliwości finansowych.</span>
                </div>
                <div class=second-col><img data-src=/uploads/sm-dlaczego-ads.svg class='lazyload lmode'>
                    <img data-src=/uploads/sm-dlaczego-ads.svg class='lazyload dmode'>
                </div>
            </div>
        </section>
        <section class='sec-padding sc-soc-big-red'>
            <div class=red-box-wrapper>
                <div class='header-template front-news-header'><span class='f-w700 txt-white txt-XL'>Zalety</span></div>
                <div class=opis>Kampanie na Facebooku występują tam, gdzie Twoi klienci. Dzięki różnym formom reklamy można dotrzeć do grupy docelowej i uzyskać zamierzony efekt. Dużym plusem jest wolność finansowa, jeżeli masz 600złwolnego budżetu możesz go zainwestować. Jeszcze lepszy efekt uzyskasz przy 3000zł budżetu. Nie masz sztywnie określonej kwoty, wkładasz w reklamę tyle ile chcesz. Facebook Ads można wyświetlać w określonych godzinach i dniach.</div>
            </div>
        </section>
        <section class='sec-padding sc-oferta-social'>
            <div class=first-row>
                <div class=left-col><img data-src=/uploads/sm-formy-reklamy.svg class='lazyload col-img'></div>
                <div class=right-col>
                    <h3 class='header-template front-news-header'><span class='f-w700 txt-red txt-XL ornament-l-b'>Formy kampanii</span></h3>
                </div>
            </div>
            <div class=second-row>
                <ul>
                    <li>
                        <p class=tytul>Obraz</p>
                        <p class=opis>czyli pojedyncza grafika, którą sami przygotujemy.</p>
                    </li>
                    <li>
                        <p class=tytul>Film</p>
                        <p class=opis>prezentujący markę, można wykorzystać film 360 stopni.</p>
                    </li>
                    <li>
                        <p class=tytul>Pokaz slajdów</p>
                        <p class=opis>czyli film posiadający od 3 do 10 grafik/zdjęć, które indywidualnie dobieramy.</p>
                    </li>
                    <li>
                        <p class=tytul>Karuzela</p>
                        <p class=opis>to karty z osobnymi grafikami i filmami, indywidualnie dobieramy, każda z osobnym nagłówkiem oraz opisem. Najczęściej używane przy sprzedaży produktów.</p>
                    </li>
                    <li>
                        <p class=tytul>Promowanie postów</p>
                        <p class=opis>wykorzystujemy wstawiony na fanpage post, aby zwiększyć zasięg strony.</p>
                    </li>
                    <li>
                        <p class=tytul>Pozyskiwanie kontaktów</p>
                        <p class=opis>czyli przejście do formularza kontaktowego poprzez reklamę.</p>
                    </li>
                </ul>
            </div>
        </section>
        <section class='sec-padding sc-soc-cta icon-arrange-lewa'>
            <div class=icon-wrapper><img data-src=/uploads/sm-kontakt-2.svg class='lazyload col-img'></div><button data-modaltarget=modal-socf9b1676c4b42802b931d5c75782b3d60 class='open-modal-quote cta-soc-button' href=#>Skontaktuj się z nami</button>
        </section>
        <div data-modalname=modal-socf9b1676c4b42802b931d5c75782b3d60 class=modal-quote-outer>
            <div class=modal-wrapper><a href=# class=button-close-modal></a>
                <div class=form-header>Zamów bezpłatną wycenę w 24h!</div>
                <form id=mcontactform action=https://formsubmit.io/send/kontakt@agencjawroclawska.pl method=post>
                    <div class=input-cnt><input required name=email type=email id=email placeholder="Adres e-mail"><label for=email> Adres e-mail</label></div>
                    <div class=input-cnt><input name=www type=text id=www placeholder="Adres strony www"><label for=www>Adres strony www</label></div>
                    <div class=input-cnt><input required name=phone type=tel id=phone placeholder="Numer telefonu"><label for=phone>Numer telefonu</label></div>
                    <div><span class=radio-cnt-title>Wybierz temat zapytania</span>
                        <div class=form-radio><input type=radio id=positoning name=question value=pozycjonowanie><label for=positoning>Pozycjonowanie</label></div>
                        <div class=form-radio><input type=radio id=social-media name=question value="social media"><label for=social-media>
                                Social media</label></div>
                        <div class=form-radio><input type=radio id=google-adwords name=question value="google adwrods"><label for=google-adwords>Google AdWords</label></div>
                    </div><input name=_formsubmit_id type=text style=display:none>
                    <button type=submit>Wyślij zapytanie</button>
                    <div class=rodo><input id=rodo-accept type=checkbox required name=rodo-accept value=accept>
                        <label for=rodo-accept>Administratorem Twoich danych osobowych, czyli podmiotem decydującym o celach i sposobach przetwarzania Twoich danych osobowych jest Agencja Wrocławska. Informujemy, że podanie danych osobowych zawartych w formularzu jest dobrowolne, ale niezbędne do skutecznego nawiązania kontaktu z Administratorem, jak również przysługują Ci prawa dostępu do Twoich danych osobowych, ich zmiany (w tym aktualizacji), a także pozostałe prawa opisane w Polityce prywatności. W Polityce prywatności znajdują się także szczegółowe informację w zakresie praw i obowiązków Administratora.</label>
                    </div>
                </form>
            </div>
        </div>
    </main><svg class="svg">
        <clipPath id="my-clip-path" clipPathUnits="objectBoundingBox">
            <path d="M1 0S.734.31.0.148v.733s.353.254 1 .02V0" />
        </clipPath>
    </svg><svg class="svg">
        <clipPath id="my-clip-path2" clipPathUnits="objectBoundingBox">
            <path d="M1 .171S.95.13.857.177C.711.25.447.413.0.316v.721s.353.249 1 .019V.171" />
        </clipPath>
    </svg>
{{ function('get_footer', '') }}